.formContainer {
  display: flex;
  flex-direction: column;
}
.textHead {
  font-family: "Arial Black";
  font-size: 5ch;
  margin: 0 auto;
}
.headImage {
  width: 150px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.textSubHed {
  font-family: "Arial Black";
  font-size: medium;
  margin: 0 auto;
  padding: 20px;
}
.textDes {
  width: 460px;
  font-family: "Arial";
  font-size: smaller;
  alignment: center;
  margin-left: 74ch;
}
.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}
.textField {
  padding: 30px;
  margin-top: 20px;
}
.sendButton {
  width: 40ch;
}
.chart-div {
  margin: 0 auto;
  cursor: pointer;
}
